//1199px

@media (min-width: $maxMediaMD) {
    .menuCab {
        display: block !important;
    }
}

@media (min-width: $minMediaSM) {
    .headerWrap {
        .nav {
            display: flex !important;
        }
    }
    .mobileTab {
        display: block !important;
    }
}

@media (max-width: $maxMediaMD) {
    .container {
        width: $containerMD;
        padding: 0 15px;
    }
    .grettingsBlock {
        padding: 85px 0 97px;
        .grettingCap {
            font-size: 54px;
            line-height: 65px;
            & + .grettingText {
                margin-top: 47px;
            }
        }
    }
    .header {
        &::before {
            margin-left: -986px;
        }
        .paymentMethodsCount {
            right: -217px;
            bottom: -165px;
        }
    }
    .stateLine {
        padding: 61px 0 0;
        .stateList {
            max-width: calc(50% + 151px);
            .item {
                padding-right: 0;
                .iconBl {
                }
                .name {
                }
                .txt {
                    margin-top: 4px;
                }
            }
        }
    }
    .textBlockWrap {
        padding: 90px 0 93px;
        &.textLeft {
            .wrap {
            }
        }
        .wrap {
            .picture {
            }
            .textBlock {
                width: calc(50% + 67px);
                .capSite {
                    padding-right: 0;
                    & + ul {
                        margin-top: 51px;
                    }
                }
                ul {
                    li {
                    }
                }
                .btn {
                }
            }
        }
    }
    .cryptoBlock {
        .wrap {
            .cryptoList {
                grid-template-columns: repeat(5, 1fr);
            }
            .cryptoDesc {
                max-width: 60%;
            }
        }
    }
    .howConnectBlock {
        padding: 48px 0 10px;
        .wrap {
            .connectList {
                .connectItem {
                    width: calc(25% - 14px);
                }
            }
        }
    }
    .whyBlock {
        margin-bottom: -40px;
    }
    .whyTabs {
        &.tabs {
            .listLinks {
                margin-top: 79px;
                li {
                    a {
                        padding: 4px 15px 15px 53px;
                        line-height: 21px;
                        white-space: normal;
                        .iconBl {
                            top: 12px;
                        }
                    }
                }
            }
        }
        .textBlockWrap {
            .wrap {
                .picture {
                    top: -109px;
                    left: -11px;
                    height: 486px;
                    background-size: 96%;
                }
                .textToh {
                    padding-right: 60px;
                }
            }
        }
    }
    .footer {
        &::before {
            margin-left: -986px;
        }
        .footerWrap {
            .footerRight {
                position: relative;
                top: 55px;
            }
        }
    }
    .innerPage {
        .header {
            &:before {
                top: -222px;
            }
            &:after {
                display: none;
            }
        }
        .footer {
            &:before {
                margin-left: -986px;
            }
        }
    }
    .grettingsPage {
        padding: 35px 0 0;
    }
    .contactsInfo {
        padding: 70px 0 100px;
        position: relative;
        z-index: 2;
        .contactsList {
            .contactItem {
                width: 100%;
                & + .contactItem {
                    margin-left: 0;
                }
            }
        }
    }
    .contactsForm {
        padding: 50px 0 0;
        margin-bottom: -61px;
        .wrap {
            flex-wrap: wrap;
            .contactText {
                position: relative;
                top: 0;
                width: 100%;
            }
            .inputForm {
                max-width: 100%;
                padding: 35px;
                width: 100%;
                margin-top: 50px;
                .btnLine {
                    .btn {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .blockCTA {
        .textBlockWrap {
            padding: 75px 0 0;
            .wrap {
                .textBlock {
                    .capSite {
                        font-size: 40px;
                    }
                }
            }
        }
    }
    .systemPage {
        .systemtext {
            .textBlockWrap {
                .capSite {
                    font-size: 40px;
                }
                .wrap {
                    .textBlock {
                        .btn {
                            margin-top: 35px;
                        }
                    }
                }
            }
        }
    }
    .documentsPage {
        .docRight {
            width: calc(100% - 275px);
        }
    }
    .aboutInNumbers {
        padding: 50px 0 150px;
        .wrap {
            flex-wrap: wrap;
            .left {
                width: 100%;
                .capSite {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            .right {
                width: 100%;
                margin-top: 50px;
            }
        }
    }
    .mershPage {
        .aboutInNumbers {
            padding: 93px 0 210px;
            .wrap {
                .left {
                    width: 100%;
                }
                .text {
                    & + .capSite {
                        margin-top: 45px;
                    }
                }
            }
        }
        .textBlockWrap {
            padding: 0;
        }
        .mersInfoWrap {
            padding: 0 0 50px;
            .infoMersh {
                justify-content: space-between;
                li {
                    padding-left: 137px;
                    width: calc(50% - 15px);
                    margin-bottom: 35px;
                    & + li {
                        margin-left: 0;
                    }
                    .picture {
                        left: -40px;
                    }
                }
            }
        }
    }
    .tarifsTable {
        .tarifsBody {
            .tarifLine {
                .tarifLineDown {
                    ul {
                        li {
                            justify-content: flex-start;
                            .tit {
                                width: 54%;
                            }
                            .val {
                                width: calc(22% + 4px);
                                & + .val {
                                    width: 22%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .td {
            width: calc(100% / 4);
            &:nth-child(1) {
                width: 26%;
                padding: 0 23px;
            }
            &:nth-child(2) {
                width: 15%;
            }
            &:nth-child(3) {
                width: 15%;
            }
            &:nth-child(4) {
                width: 25%;
            }
        }
    }
    .cabTop {
        flex-wrap: wrap;
        padding: 16px 0 0;
        margin: 0;
        .logo {
            left: 18px;
            .logoText {
                font-size: 30px;
                padding-left: 10px;
            }
        }
    }
    .youBalance {
        padding: 50px 20px 29px 87px;
        width: 100%;
        @include border-radius-bottom-right(20px);
        @include border-radius-bottom-left(20px);
        @include box-shadow($shadow3);
        overflow: hidden;
        z-index: 3;
        .listBalance {
            width: calc(70% - 2px);
        }
    }
    .menuLineMobile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 88px;
        @include border-radius-bottom-right(20px);
        @include border-radius-bottom-left(20px);
        @include box-shadow($shadow2);
        z-index: 4;
        .menuBurger {
            display: block;
            right: 28px;
            top: 36px;
        }
    }
    .menuCab {
        display: none;
    }
    .cabMenu {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $back7;
        @include border-radius-bottom-right(30px);
        @include border-radius-bottom-left(30px);
        @include box-shadow($shadow2);
        margin-top: -29px;
        padding-top: 29px;
        .grettingsCab {
            width: 50%;
            display: flex;
            align-items: center;
            order: 1;
            .line {
                padding: 28px 15px 17px 80px;
                background: transparent;
                border: 0;
                & + .line {
                    margin-left: 18px;
                }
                .iconBl {
                    left: 18px;
                }
            }
        }
        .btnLine {
            order: 2;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            background-color: $colorWhite;
            @include border-radius-bottom-right(30px);
            @include border-radius-bottom-left(30px);
            @include box-shadow($shadow2);
            padding: 24px 35px 26px 48px;
            .btn {
                width: calc(50% - 18px);
                & + .btn {
                    margin-top: 0;
                }
            }
        }
        .menuCab {
            position: absolute;
            left: 0;
            top: 88px;
            background-color: $back1;
            width: 100%;
            z-index: 11;
            li {
                &:first-child {
                    border-top: 0;
                }
                a {
                    padding: 30px 15px 30px 70px;
                    .iconBl {
                        left: 12px;
                        top: 27px;
                    }
                }
            }
        }
    }
    .cabContent {
        width: 100%;
        padding: 47px 20px;
    }
    .hideZeroBalance {
        top: 63px;
        right: 17px;
    }
    .createStore {
        &.notStore {
            padding: 10px 0;
            font-size: 18px;
            margin-top: 30px;
            top: 0 !important;
        }
    }
    .yourStores {
        .notStores {
            padding: 15px 0;
        }
    }
    .cabContent {
        .btnBack {
            top: 24px;
        }
    }
    /*animations*/
    #canvas {
        @include transform(scale(0.8));
        margin-left: -310px;
        top: 0px;
    }
    .calcProfit {
        .calcProfitList {
            .item {
                .calcPr {
                    margin: 30px -5px 0;
                    li {
                        margin: 0 5px 5px;
                        & + li {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .calcProfitLeft {
            .capSite {
                max-width: 100%;
            }
        }
    }
    .tarifsBlock {
        padding: 110px 0 170px;

        .wrap {
            .joinBl {
                max-width: 70%;
                margin-top: 15px;
            }
        }
    }
    .shopTabs  {
        .tabsBody  {
            display: block !important;
        }
    }
}
