$colorWhite: rgba(255, 255, 255, 1);
$colorWhiteA1: rgba(255, 255, 255, 0.1);
$colorWhiteA5: rgba(255, 255, 255, 0.5);
$colorBlack: rgba(0, 0, 0, 1);
$colorBlackA05: rgba(0, 0, 0, 0.05);
$color1: #1c0e0d;
$color2: #ff553e;
$color3: #d2d2d2;
$color4: #ffbb44;
$color4V1: #f9ba61;
$color5: #45b39d;

$textColor1: #716867;
$textColor2: #c2bbba;
$textColor3: #756d6b;
$textColor4: #b0a9a8;
$textColor5: #9d9897;
$textColor6: #afaaa9;
$textColor7: #dedada;
$textColor8: #afa9a8;
$textColor9: #958f8f;
$textColor10: #e3e3e3;

$back1: #fcf5ef;
$back2: #fae1bd;
$back3: #f6f6f6;
$back4: #f4f4f4;
$back5: #dedede;
$back6: #fdfaf7;
$back7: #fbebd6;
$back8: #fefaf7;

$grad1: #ffbb44;
$grad2: #ff593e;

$shadow1: 20px 20px 27px $colorBlackA05;
$shadow2: 0px 20px 27px $colorBlackA05;
$shadow3: 0px 10px 7px $colorBlackA05;

$fontMain: "Mont";

$containerHD: 1400px;
$containerSD: 1200px;
$containerMD: 1024px;
$containerSM: 768px;
$containerXS: 100%;
$containerXSS: 100%;

$maxMediaFHD: 1799px;
$maxMediaHD: 1599px;
$maxMediaSD: 1439px;
$maxMediaMD: 1199px;
$maxMediaSM: 1023px;
$maxMediaXS: 767px;
$maxMediaXSS: 639px;
$maxMediaXSSS: 479px;

$minMediaSD: 1600px;
$minMediaMD: 1400px;
$minMediaSM: 1024px;
$minMediaXS: 768px;
$minMediaXSS: 480px;
